<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Usage Statistics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
</head>
<body>
    {% include "nav.html" %}    
    <main class="page">
        <div class="card">
            <h1>Welcome to our Water Statistics Website!</h1>
            <p class="subtitle">With the amount of water used globally every day, it's important for people to be 
                capable of understanding the scope of both how water being used and how much is being used.
                This website is dedicated to the goal of making that analysis more clearly laid out fo the general public.</p>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </div>
        <div class = "card">
            <h2> To get started, click on one of the buttons below:</h2>
                <button onclick="window.location.href='/usage'">Water Usage Data by Country</button>
                <button onclick="window.location.href='/compare'">Compare Water Use Between Years</button>
            </div>
    </main>
</body>
</html>
