<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Usage Statistics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
</head>
<body>
    {% include "nav.html" %}    
    <main class="page">
        <div class="card">
            <h1>Welcome to our Water Statistics Website!</h1>
            <p class="subtitle">With the amount of water used globally every day, it's important for people to be 
                capable of understanding the scope of both how water being used and how much is being used.
                This website is dedicated to the goal of making that analysis more clearly laid out fo the general public.</p>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </div>
        <div class = "card">
            <h2> How to use this site</h2>
            <p>Our website has three main features: <br>
            <strong>Viewing water usage statistics by country and year.</strong> <br>
            <strong>Comparing water usage between two different years for the same country.</strong> <br>
            <strong>Exploring the proportion of water used by different sectors</strong>.</p> <br>

            <p>To get started, click on one of the buttons below:</p>
        </div>
            <button onclick="window.location.href='/usage'">Water Usage Data</button>
            <button onclick="window.location.href='/compare'">Compare Between Years</button>
    </main>
</body>
</html>
